*.sdf
*.opensdf
*.suo
*.user
*.ipch
/src/**/bin
/src/**/obj
/src/PluginProject/plugin/*.ngtfx
/src/NgtUI/NVPRwrapper/x64
/src/NgtUI/x64
/src/FontManager2/FontPathManagerDLL2/x64
/src/FontManager2/svg2path/x64
/src/FontManager2/x64
/src/FontManager2/FontPathManagerTest/x64
/src/ImgLib/ImgLib/Debug
/src/ImgLib/ImgLib/Release
/src/ImgLib/ImgLibTest/Debug
/src/ImgLib/ImgLibTest/Release
/src/kona4g/kona4gDLL/x64
/src/kona4g/x64
/src/kona4g/movietest/Release
/src/kona4g/movietest/Debug
/src/Tlogger/Test/x64
/src/Tlogger/Tlogger/x64
/src/Tlogger/Tlogger/Debug
/src/Tlogger/Tlogger/Release
/src/Tlogger/x64
/src/ImgLib/ImgLib/x64
/src/ImgLib/x64
/src/NgtUI/TestResults
/src/NgtUI/UnitTestProject/TestResults
/src/FontManager2/FontPathManagerDLL2/Release
/src/FontManager2/FontPathManagerTest/Release
/src/FontManager2/svg2path/Release
/src/NgtUI/NVPRwrapper/Debug
/src/kona4g/movietest/x64
/src/NgtUI/Setup/Debug
/src/NgtUI/Setup/Release
/src/NgtUI/dll/Release/Vorlic.dll
/src/NgtUI/dll/Release/NgtLibCS.dll
/src/NgtUI/dll/Release/NVPRwrapper.dll
/src/NgtUI/dll/Release/ShellThumbnail.dll
/src/NgtUI/dll/Debug/Vorlic.dll
/src/NgtUI/dll/Debug/NgtLibCS.dll
/src/NgtUI/dll/Debug/NVPRwrapper.dll
/src/NgtUI/dll/Debug/ShellThumbnail.dll
/src/NgtUI/lib/NgtConsole.exe
/src/NgtUI/lib/NgtConsoleThumbnail.exe
*.svg
*.csproj.user
/src/NgtUI/doxygen
/src/NgtUI/Setup/Output
*.idb
*.lastbuildstate
*.tlog
*.pdb
*.cache
*.log
*.obj
/src/NgtUI/NVPRwrapper/NVPRwrapper.vcxproj.user
/src/FontManager2/UnitTest/x64
Debug/
